@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");

:root {
    --color-cream: 200, 200, 176;
    --color-gray: 168, 168, 168;
    --color-red: 139, 0, 0;
    --color-lightgray: 136, 136, 136;
    --color-yellow: 237, 209, 95;
    --color-white: 255, 255, 255;

    --color-bg: var(--color-red);
    --color-body: var(--color-gray);
    --color-border: var(--color-lightgray);
    --color-grid: var(--color-cream);
    --color-title: var(--color-yellow);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max(400px, 100vw);
    min-height: 100vh;
    font-size: 1.6rem;
}

.sketch {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: min(56rem, 95vw);
    padding: 2.4rem;
    background-color: rgb(var(--color-bg));
    border: 3px solid rgb(var(--color-bg));
    border-radius: 2.4rem;
}

.sketch__header {
    text-align: center;
}

.sketch__title {
    font-size: 2.4rem;
    font-weight: 800;
    color: #edd15f;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.sketch__body {
    padding: 1.6rem;
    background-color: rgb(var(--color-body));
    border-radius: 1.2rem;
}

.grid {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 46rem;
    background-color: rgb(var(--color-grid));
    border: 3px solid rgb(var(--color-border));
    border-radius: 0.6rem;
}

.grid__column {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.grid__cell {
    flex: 1;
    border: 1px solid rgba(var(--color-border), 0.3);
}

.sketch__input,
.sketch__button {
    padding: 0.7rem 1.2rem;
    font-size: 1.4rem;
    outline: none;
    border: 2px solid rgb(var(--color-border));
    border-radius: 0.6rem;
}

.sketch__input {
    width: 16rem;
}

.sketch__button {
    margin-left: 0.8rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    background-color: #333;
    border-color: #222;
}

.sketch__button:active {
    transform: translateY(2px);
}

.sketch__display {
    color: #444;
    letter-spacing: 0.1rem;
}

.sketch__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.6rem;
}

.control__item {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    align-items: center;
}

.control__label {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgba(var(--color-white), 0.9);
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.control__input {
    display: block;
    width: 6.4rem;
    height: 6.4rem;
    appearance: none;
    cursor: pointer;
    border: 4px solid rgb(var(--color-border));
    border-radius: 50%;
}

.control__input:hover {
    transform: rotate(30deg) scale(1.05);
}

.control__input:active {
    transform: rotate(60deg) scale(0.97);
}
