@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-color: gray;
}

.sketch {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border-right: 120px solid darkred;
    border-left: 120px solid darkred;
}

.sketch__header {
    padding: 25px;
    text-align: center;
    background-color: darkred;
}

.sketch__title {
    font-family: "Pinyon Script", sans-serif;
    font-size: 24px;
    color: yellow;
    letter-spacing: 4px;
}

.sketch__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sketch__input {
    padding: 5px;
    margin: 10px;
    border: none;
}

.sketch__display {
    visibility: hidden;
    margin-bottom: 10px;
}

.grid {
    display: flex;
    width: 480px;
    height: 480px;
}

.grid__column {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.grid__cell {
    flex: 1;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.sketch__controls {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: darkred;
}

.control__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    color: #fdfdfd;
    cursor: pointer;
}

.control__input {
    width: 80px;
    height: 80px;
    border: 1px solid white;
    border-radius: 50%;
}

.control__input--rainbow {
    background-color: black;
}
