@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max(400px, 100vw);
    min-height: 100vh;
    font-size: 1.6rem;
}

.sketch {
    width: min(56rem, 95vw);
    padding: 2.4rem;
    background-color: #8b0000;
    border: 3px solid #8b0000;
    border-radius: 2.4rem;
}

.sketch__header {
    text-align: center;
}

.sketch__title {
    font-size: 2.4rem;
    font-weight: 800;
    color: #edd15f;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.sketch__body {
    padding: 1.6rem;
    background-color: #a8a8a8;
    border-radius: 1.2rem;
}

.grid {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 46rem;
    background-color: #c8c8b0;
    border: 3px solid #888888;
    border-radius: 0.6rem;
}

.grid__column {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.grid__cell {
    flex: 1;
    border: 1px solid #8888884d;
}

.sketch__input,
.sketch__button {
    padding: 0.7rem 1.2rem;
    font-size: 1.4rem;
    outline: none;
    border: 2px solid #888;
    border-radius: 0.6rem;
}

.sketch__input {
    width: 16rem;
}

.sketch__button {
    margin-left: 0.8rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    background-color: #333;
    border-color: #222;
}

.sketch__button:active {
    transform: translateY(2px);
}

.sketch__display {
    color: #444;
    letter-spacing: 0.1rem;
}
